<div ng-if="!username">
  <authenticate></authenticate>
  <h1 class='italic center'>- Or -</h1>
  <sign-up></sign-up>
</div>
<div ng-if="username">
  <h2>Welcome {{username}}, please take a look around...</h2>
</div>
