<div class='profile-form panel'>
  <h1>Complete Your Profile</h1>

  <p>
    We require 5 pieces of information to build your profile. Each piece of information allows us to contact you eectively in the event of an incident.
  </p>
  <p>
    Each piece of information scores charity coins for Water Aid. Bonus coins are scored when all 5 pieces of information are complete.
  </p>

  <div class='bigProfileBadges'>
    <div class='bigProfileBadge profilePercent'>{{percentComplete | number}}%</div>
    <div class='bigProfileBadge generatedCoins'>{{profile.totalCoins | number}}</div>
  </div>
  <div class="clearfix"></div>

  <profile-form-field ng-repeat="field in profile.fields" field="field" bonus="profile.bonusCoins", total="profile.totalCoins"></profile-form-field>
  <div class="clearfix"></div>

  <br />
  <div class="form-field" ng-if="profile.bonusCoins">
    <div class="coins">
      Bonus
      <div class="coin-icon">{{profile.bonusCoins}}</div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="form-field" ng-if="profile.totalCoins">
    <div class="coins">
      Total
      <div class="coin-icon">{{profile.totalCoins}}</div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
