body {
    font-family: sans-serif;
    background-color: #16050B;
    color: #95B2B8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}
  body .container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: #2E0F15;
  }

  body .container .body {
    padding: 5px 10px;
  }

header {
  background-color: #2E0F15;
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 2px 1px 2px #000;
}
  header .log-out {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000000;
    background-color: #95B2B8;
    border-radius: 2px;
    border-width: 0;
    height: 30px;
    clear: both;
    font-size: 1em;
    box-shadow: 2px 1px 2px #000;
    margin: 5px 0;
    padding: 5px 5px 0 5px;
  }
input {
  background-color: #95B2B8;
  border-color: #95B2B8;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  border-radius: 2px;
  border-width: 0;
  font-size: 1.1em;
  text-align: center;
}

button {
  background-color: #95B2B8;
  border-radius: 2px;
  border-width: 0;
  width: 100%;
  height: 30px;
  clear: both;
  font-size: 1.1em;
  margin-top: 10px;
  box-shadow: 2px 1px 2px #000;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

  table th {
    text-align: left;
    text-decoration: underline;
  }

  table tr:nth-child(odd) {
    background-color: #1E0005;
  }

/**************************************************/

table.noughtsAndCrosses {
  width: 600px;
  margin: 0 auto;
  font-size: 3em;
}

  table.noughtsAndCrosses tr td {
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: #1E0005;
  }
  table.noughtsAndCrosses tr td:hover {
    background-color: #4E444E;
  }

  .nav {
  float: right;
  margin-top: -100px;
  list-style: none;
}
  .nav a {
    color: #95B2B8;
    text-decoration: none;
  }

/**************************************************/

.achievements .achievementImage {
  margin-right: 20px;
  opacity: 0.2;
}

.achievements .achievementImage.achieved {
  opacity: 1;
}

/**************************************************/

.form-field {
  display: block;
  margin-bottom: 60px;
}

  .form-field input {
    float: left;
    width: 75%;
    margin-right: 4px;
  }

  .form-field input::-webkit-input-placeholder {
    color: #000;
    opacity: .3;
  }

  .form-field input:-moz-placeholder {
    color: #000;
    opacity: .3;
  }

  .form-field input::-moz-placeholder {
    color: #000;
    opacity: .3;
  }

  .form-field input:-ms-input-placeholder {
    color: #000;
    opacity: .3;
  }

  .form-field .validation-icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 4px;
    border-radius: 20px;
    text-align: center;
    color: #000;
    font-weight: 800;
    line-height: 40px;
  }

    .form-field .validation-icon.valid {
      background-color: #00b8f1;
    }

    .form-field .validation-icon.invalid {
      background-color: #f10020;
    }

  .form-field .coins {
    width: 100px;
    height: 40px;
    float: right;
    line-height: 40px;
  }
    .form-field .coins .coin-icon{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #deb667;
      float: right;
      text-align: center;
      color: #000;
      font-weight: 800;
    }

.bigProfileBadges {
  float: right;
}
  .bigProfileBadges .bigProfileBadge {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    color: #000;
    font-weight: 800;
    line-height: 80px;
    float: left;
  }
    .bigProfileBadges .bigProfileBadge.profilePercent {
      background-color: #00b8f1;
    }

    .bigProfileBadges .bigProfileBadge.generatedCoins {
      background-color: #deb667;
    }

/**************************************************/

.playerPositionIndicator {
  margin: 20px;
  clear: both;
  height: 15px;
}
  .playerPositionIndicator div {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    float: left;
  }

  .playerPositionIndicator span {
    float: left;
    margin-left: 10px;
    line-height: 30px;
  }

/**************************************************/
.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.clearfix {
    clear: both;
    display: block;
}

.panel {
  padding: 5px;
  box-shadow: 1px 1px 4px #000;
  margin-bottom: 40px;
}
