<div class='leaderboard panel'>
  <h1>Leaderboard</h1>

  <button ng-click='getLeaderboard()'>Get Leaderboard</button>
  <h2 ng-show='errorMessage'>Error: {{errorMessage}}</h2>

  <div ng-show='leaderboard'>
    <table>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Rank</th>
      </tr>
      <tr ng-repeat='entry in leaderboard'>
        <td>{{entry.userName}}</td>
        <td>{{entry.SCORE_ATTR | number}}</td>
        <td>{{entry.rank}}</td>
      </tr>
    </table>
  </div>
</div>
