﻿<div id="racetrack-chart"></div>

<button ng-show="!gone" ng-click="go()">Go</button>
<button ng-show="gone" ng-click="reset()">Reset</button>


<div ng-repeat="player in players | orderBy:'-Dist'" class="playerPositionIndicator">
  <div style="background-color: {{player.Fill}}"></div>
  <span>{{ordinalSuffixOf($index+1)}} ({{player.Percent | number:0}}% complete)</span>
</div>
