<div class='addScore panel'>
  <h1>Add Score</h1>

  Score: <input type='text' ng-model='score' />
  <button ng-click='addScore()'>Add Score</button>

  <h2 ng-show='errorMessage'>{{errorMessage}}</h2>
  <h2 ng-show='successMessage'>{{successMessage}}</h2>
</div>
