<div class="form-field">
  <input type='text'
         ng-model='field.Value'
         placeholder="{{field.Description}}"
         ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" />

  <div class="validation-icon {{field.Valid ? 'valid' : 'invalid'}}">{{ValidationMark}}</div>
  <div class="coins">
    Coins
    <div class="coin-icon">{{field.CoinsAwarded}}</div>
  </div>
</div>
