<div class="panel">
  <h2 class="center">Challenge / Aims</h2>
  <ul>
    <li>Back-end systems require a lot of investment</li>
    <li>Consuming a back-end system on many platforms requires considerable platform specific code </li>
  </ul>
</div>

<div class="panel">
  <h2 class="center">GameSparks BaaS Platform</h2>
  <p>
    GameSparks is a 'back-end-as-a-service' platform that takes care of most back-end system requirements and allows a project to get up and running quickly.
  </p>

  <hr />

  <h3>Features</h3>
  <ul>
    <li>Data Store - replaces bespoke database</li>
    <li>File Store - can store binary files</li>
    <li>Events - Send/receive data</li>
    <li>User Management - create, authenticate, build friend lists, leaderboards, achievements</li>
    <li>Leaderboards</li>
    <li>Virtual Currency and Goods</li>
    <li>Achievemtns - 'made it to 1st place'</li>
  </ul>

  <h3>Benefits</h3>
  <ul>
    <li>Lots of built-in features - Honey Coins, Beekeeping equipment, leaderboard, challenges</li>
    <li>Zero Deployment - always deployed in 'the cloud'</li>
    <li>Multiple Versions - different data sets and functionality based on client version</li>
    <li>Fast Start-up - Easy to get going quickly on new projects</li>
  </ul>

  <h3>Learning Curve</h3>
  <ul>
    <li>Shallow - for the simple stuff, less than a day to get a basic add/auth/leaderboard system working</li>
    <li>Cloud Code - gets a lot steeper with Cloud Code and custom data structures</li>
  </ul>

  <h3>Limitations</h3>
  <ul>
    <li>P2P - is not yet implemented</li>
    <li>Realtime - also not yet implemented</li>
    <li>Broadcast - no means of broadcasting a message to all players</li>
    <li>Tie-in - Once you start with GameSparks you're quite tied in</li>
    <li>Like most platforms, you're somewhat tied to doing things their way</li>
  </ul>

  <h3>General Discoveries</h3>
  <ul>
    <li>Short Codes - the platform relies on 'magic strings' that could become hard to maintain</li>
    <li>Documentation - limited in places</li>
    <li>Hidden functionality</li>
  </ul>
</div>
