<div class='authenticate panel'>
  <h1>Please Log In</h1>

  Username: <input type='text' ng-model='username' />
  Password: <input type='password' ng-model='password' />
  <button ng-click='auth()'>Log In</button>

  <h2 ng-show='errorMessage'>Error: {{errorMessage}}</h2>
  <h2 ng-show='displayName'>Logged in as {{displayName}}</h2>
</div>
