<div class='achievements panel'>
  <h1>Achievements</h1>

  <div ng-if="achievements">
    <img ng-repeat="ach in achievements" ng-src="/App/Images/{{ach.ShortCode}}.png" alt="{{ach.Text}}" class="achievementImage" ng-class="markAchieved(ach.ShortCode)" />
  </div>
</div>
