<div class='signup panel'>
  <h1>Register</h1>

  Screen Name: <input type='text' ng-model='displayName' />
  Username: <input type='text' ng-model='username' />
  Password: <input type='password' ng-model='password' />
  <button ng-click='register()'>Register</button>

  <h2 ng-show='errorMessage'>Error: {{errorMessage}}</h2>
  <h2 ng-show='newUserDisplayname'>Welcome {{newUserDisplayname}}. Please log in.</h2>
</div>
