<div class='noughts-and-crosses panel'>
  <h1>Noughts and Crosses</h1>

  <button ng-click="start()" ng-if="game.state === 'stopped'">Start Game</button>
  <button ng-click="restart()" ng-if="game.state === 'started' || game.state === 'finished'">Restart Game</button>
  <br />
  <br />

  <div ng-show="game.state === 'started' && !game.winner">
    <h2>It is {{game.currentPlayer}}'s turn</h2>
  </div>

  <div ng-show="game.winner">
    <h2>{{game.winner}}</h2>
  </div>

  <table class='noughtsAndCrosses'>
    <tr ng-repeat="row in game.rows">
      <td ng-repeat="cell in row" ng-click="playTurn(cell)">{{cell.content}}</td>
    </tr>
  </table
</div>
